<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Common dimensions for the base of the LKWrbot robot -->

  <!-- Wheel mount offsets -->
  <xacro:property name="wheel_base_radius" value="0.132239"/> <!--TODO determine/measure correct value -->
  <xacro:property name="wheel_base_offset_z" value="0.010"/>


  <!-- three-wheel-drive radial offsets -->
  <xacro:property name="radial_offset" value="${pi/3}"/> <!-- 60° offset from X-axis -->
  <xacro:property name="radial_theta" value="${2*pi/3}"/> <!-- 120° between wheels -->


  <!-- Plate dimensions-->
  <xacro:property name="base_plate_diameter" value="0.215"/>
  <xacro:property name="base_plate_height" value="0.007"/>

  <xacro:property name="bottom_base_plate_mass" value="0.116"/>
  <xacro:property name="top_base_plate_mass" value="0.111"/>


  <!-- Motormount dimensions-->
  <xacro:property name="motormount_depth" value="0.035"/>
  <xacro:property name="motormount_width" value="0.046"/>
  <xacro:property name="motormount_height" value="0.045"/>

  <xacro:property name="motormount_mass" value="0.010"/>

  <xacro:property name="motormount_base_radius" value="${0.100 - motormount_depth/2}"/> <!--TODO determine/measure correct value -->


  <!-- Servo dimensions-->
  <xacro:property name="servo_depth" value="0.035"/>
  <xacro:property name="servo_width" value="0.025"/>
  <xacro:property name="servo_height" value="0.045"/>

  <xacro:property name="servo_mass" value="0.054"/>

  <xacro:property name="servo_base_radius" value="${0.100 - motormount_depth/2 - servo_depth/2 + 0.004}"/> <!--TODO determine/measure correct value -->


  <!-- Omniwheel dimensions-->
  <xacro:property name="omniwheel_diameter" value="0.102"/>
  <xacro:property name="omniwheel_width" value="0.031"/>

  <xacro:property name="omniwheel_mass" value="0.292"/>  <!--incl. hub & bolts nuts -->

  <xacro:property name="omniwheel_radius" value="${omniwheel_diameter/2}"/>

</robot>
