<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Colors (RGBA) -->
  <xacro:property name="white_smoke_rgba" value="0.961 0.961 0.961 1.0"/>
  <xacro:property name="dim_grey_rgba" value="0.412 0.412 0.412 1.0"/>

  <!-- Base mesh rotation about Z (rad) -->
  <xacro:property name="base_offset_rz" value="${3*pi/2}"/> <!-- TODO check still used -->

  <!-- Wheel mount offsets -->
  <xacro:property name="wheel_base_radius" value="0.132239"/> <!--TODO determine/measure correct value -->
  <xacro:property name="wheel_base_offset_z" value="0.010"/>

  <!-- 60° offset from X-axis -->
  <xacro:property name="wheel_radial_offset" value="${pi/3}"/>
  <!-- 120° between wheels -->
  <xacro:property name="wheel_radial_theta" value="${2*pi/3}"/>


  <!-- Plate dimensions-->
  <xacro:property name="base_plate_diameter" value="0.215"/>
  <xacro:property name="base_plate_height" value="0.007"/>

  <xacro:property name="bottom_base_plate_mass" value="0.116"/>
  <xacro:property name="top_base_plate_mass" value="0.111"/>


  <!-- Motormount dimensions-->
  <xacro:property name="motormount_depth" value="0.035"/>
  <xacro:property name="motormount_width" value="0.046"/>
  <xacro:property name="motormount_height" value="0.045"/>

  <xacro:property name="motormount_mass" value="0.010"/>

  <xacro:property name="motormount_base_radius" value="${0.100 - motormount_depth/2}"/>


  <!-- Omniwheel dimensions-->
  <xacro:property name="omniwheel_diameter" value="0.102"/>
  <xacro:property name="omniwheel_width" value="0.031"/>
  <xacro:property name="omniwheel_mass" value="0.292"/>  <!--incl. hub & bolts nuts -->

  <xacro:property name="omniwheel_radius" value="${omniwheel_diameter/2}"/>


  <!-- Control related -->
  <!-- TODO Determine if these should be specified here or in a separate .urdf.xacro file -->

  <!-- Configurable hardware parameters (STS3215 defaults) -->
  <!-- HACK changed from arg to property-->
  <xacro:property name="sts_max_velocity_steps" value="3400"/>  <!-- STS3215=3400, STS3032=2900, STS3235=3400 -->
  <xacro:property name="proportional_acc_max"   value="25"/>    <!-- [0-254]; 0 = disable proportional ACC -->

  <!-- Maximum allowable speed/acceleration/torque for each motor -->
  <xacro:property name="max_velocity_steps" value="${int(sts_max_velocity_steps * 0.85)}"/> <!-- steps/second (85% of hardware max, 15% safety margin) -->
  <!-- VScode extension "Robot Developer Extensions for URDF" command 'URDF preview' can't handle int(...)-->
  <!-- XXX xacro:property name="max_velocity_steps" value="$2890" --> <!-- steps/second (85% of hardware max, 15% safety margin) -->
  <xacro:property name="max_velocity_rads" value="${max_velocity_steps*2*pi/4096}"/> <!-- rad/s -->
  <xacro:property name="max_torque_nm" value="2.942"/> <!-- N⋅m (30 kgf⋅cm for STS3215) -->

</robot>
