<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Common dimensions for the base of the LKWrbot robot -->

  <!-- Wheel mount offsets -->
  <xacro:property name="wheel_base_radius" value="0.134"/>  <!-- Calculated distance (from several measurements) -->
  <xacro:property name="wheel_base_offset_z" value="0.010"/>

  <!--Measured distances -->
  <xacro:property name="motormount_backside_radius" value="0.069"/> <!-- Distance from plate centre to back of motormount -->
  <xacro:property name="motormount_servo_offset" value="0.004"/>  <!-- Offset distance back motormount to back of servo -->

  <!-- three-wheel-drive radial offsets -->
  <xacro:property name="radial_offset" value="${pi/3}"/> <!-- 60° offset from X-axis -->
  <xacro:property name="radial_theta" value="${2*pi/3}"/> <!-- 120° between wheels -->


  <!-- Plate dimensions-->
  <xacro:property name="base_plate_diameter" value="0.215"/>
  <xacro:property name="base_plate_height" value="0.007"/>

  <xacro:property name="bottom_base_plate_mass" value="0.116"/>
  <xacro:property name="top_base_plate_mass" value="0.111"/>


  <!-- Motormount dimensions-->
  <xacro:property name="motormount_depth" value="0.035"/>
  <xacro:property name="motormount_width" value="0.046"/>
  <xacro:property name="motormount_height" value="0.045"/>

  <xacro:property name="motormount_mass" value="0.010"/>

  <xacro:property name="motormount_base_radius" value="${motormount_backside_radius + motormount_depth/2}"/>


  <!-- Servo dimensions-->
  <xacro:property name="servo_depth" value="0.035"/>
  <xacro:property name="servo_width" value="0.025"/>
  <xacro:property name="servo_height" value="0.045"/>

  <xacro:property name="servo_mass" value="0.054"/>

  <xacro:property name="servo_base_radius" value="${motormount_backside_radius + motormount_servo_offset + servo_depth/2 }"/>


  <!-- Omniwheel dimensions-->
  <xacro:property name="omniwheel_diameter" value="0.102"/>
  <xacro:property name="omniwheel_width" value="0.031"/>

  <xacro:property name="omniwheel_mass" value="0.292"/>  <!--incl. hub & bolts nuts -->

  <xacro:property name="omniwheel_radius" value="${omniwheel_diameter/2}"/>

</robot>
